

body{
	
}

.no-margin{
	padding: 0px;
}

header p{
	font-size: 0.9em;
	padding-top: 15px;
	margin-bottom: 15px;
	color: #8e8a8a;
}

.topHeader{
	/* border-bottom: 1px solid grey; */
}

.headerBig{
	font-weight: 700;
}


.headerBar >.fab,.headerBar>span{
	color: #0F683C;
	font-size: 1.2em;
	padding: 14px 3px 0px 3px;
}

.headerTop{
	position:relative;
	z-index: 999;
}



/* SHADOW NOT WORKING */
/* .headerTop::after{
       content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    bottom: 0px;
    width: 80%;
    height: 50%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 10%;
    right: 10%;
} */


.right{
	float:right;
	text-align: right;
}


#logo{
padding: 30px 0 50px 0;
}

.searchBox{
	position: relative;
	padding-top: 75px;
	text-align: right;
}

.topSearch{
	border: 0px;
	border-left: 1px solid green;
	padding-left: 10px;
	font-size: 1.2em;
	width: 200px;

}

.fa-search{
	font-size: 1.2em;
	color: #0F683C;
	padding-top: 2px;
	
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #FFF;
}


.navbar-light .navbar-nav .nav-link {
	color: #FFF;
}

.bg-light{
	background: #0F683C !important  ;
}



#bannerImg{
	width: 100%;
	height: auto;
}

.banner{
	position: relative;
}

.bannerContent p{
	font-size: 1.4em;
	margin-bottom: 3px;
}

.bannerContent h1{
    font-size: 3.5em;
    font-weight: 1000;
    color: #0F683C;
    padding-bottom: 0.6em;
    }

.bannerAlignment {
	position: absolute;
    top: 35%;
    right: 0px;
    padding-right: 13%;
}

.contentRight{
	position: relative;
	float: right;

}

.bannerButton{
	border: 2px solid #0F683C;

    font-size: 1.2em;
    padding: 15px 45px;
    border-radius: 60px;
    /* margin-top: 10px; */
    font-weight: 100;
    z-index: 1;
    background-color: #0F683C;
    color: white;
    text-align: center;
    -webkit-box-shadow: 5px 4px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 4px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 4px 15px 0px rgba(0,0,0,0.75);

}




/* linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), */
.wrapperWhyUs{
	/* background:url(../img/background2.png); */
	position: relative;
   width: 100%;
 /*   height: 500px;   */  /* TO BE CHANGED AFTER HTML  into AUTO*/
   
/* 
  background-repeat: no-repeat;
    background-size: cover; */
}

.leaves{
	position: absolute;
	opacity: 0.2;
}

#leaf1{
	top: 0px;
	right: 0px;
}

#leaf2{
		top: 30%;
		right: 0px;
}

#leaf3{
	top: 0px;
	left: 0px;
}

#leaf4{
	top: 50%;
	left: 0px;
}




/* WHY US */
.marginHeading{
	position: relative;
	color: #E2E2E2;
	font-size: 24px;
	width: 100%;
 	margin-top: 20px;
 	margin-bottom: 50px;
}


.marginHeading::before{
content:"";
position:absolute;
width:8%;
height:2px;
background-color:#E2E2E2;
top:12px;
left: 39%;
	
}

.marginHeading::after{
	
	content:"";
position:absolute;
width:8%;
height:2px;
background-color:#E2E2E2;
top:12px;
left: 53%;
}





.welcome_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}


ul {
    list-style-position: inside !important;
}

.welcome_text p{
	color: grey;
	font-size: 0.8em;
}


.welcomeContent{
	padding-top: 100px;
}

.about_left {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
}

.about_right {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.text-right {
    text-align: right;
    color: black;
    padding-left: 25%;
    padding-right: 20px;
}


.text-left{
	color:black;
	padding-right: 25%;
	padding-left: 20px;
}


.about_left_icon {
    margin-left: 0px;
}

.about_left_icon i {
        background: #0F683C;
    /* padding: 26px; */
    width: 76px;
    height: 76px;
    padding-top: 32%;
    text-align: center;
    /* align-content: center; */
    vertical-align: center;
    border-radius: 59%;
    font-size: 24px;
    box-shadow: 4px 4px 20px 0px rgba(255,255,255,1);
}


.globeImg{
	display: block;
	margin: 0 auto;
	
}



.headingImage{
	padding-top: 2.5em;
	font-size: 3em;
    width: 100%;
    font-weight: 550;
    text-align: center;
    color: #0F683C;
}

.donation{
	position: relative;
	width: 100%;
}


#makeDonationImg{
	width: 100%;
	height: auto;
}

.donationOuter{
	position: absolute;
    width: 550px;
    height: auto;
  
    padding: 25px;
    background: white;
     top: 50%;
     left: 5%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0% -50%);

	
}


.cardDonation{
	border: 2px solid green;
    padding: 30px;
}

.donateButton{
	border: 2px solid #0F683C;

    font-size: 1.1em;
    padding: 10px 45px;
    width: 75%;
    border-radius: 60px;
    /* margin-top: 10px; */
    font-weight: 100;
    z-index: 1;
    background-color: #0F683C;
    color: white;
    text-align: center;
    margin-top:20px
}



 .inputShape {

      border: 2px solid green;
    /* line-height: 0; */
    font-size: 17px;
    width: 75%;
    display: block;
    /* box-sizing: border-box; */
    padding: 15px 15px 5px 15px;
    border-radius: 60px;
    /* margin-top: 10px; */
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin-top: 25px;
}





.product{
	padding-bottom: 125px;
}

.carouselProduct{
	background-color: black;
	position: relative;
}

.productImages{
	opacity: 0.5;
}

.productTitle{
	position: absolute;
    font-weight: 900;
    color: #FFF;
     top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
    font-size: 2em;
}

.carousalHidden{
	background-color: #0F683C;
	 text-align: center;
	 color: #FFF;
	 height: 100%;
	 width: auto;
	 
}


.carouselProduct:hover .overlay {
  opacity: 1;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0F683C;
}


.overlayText{
	  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlayText>h1{
	font-size: 1.4em;
	font-weight: 800;
}




.wrapperExploreBackground{

}

#backgroundExplore{
	width: 100%;
	height: auto;
}

.wrapperExplore{
	position: absolute;
	top: -4%;
	left: 10%;
   
	
}

.leafWrapper{
	position: relative;
	background: url(../img/background2.png);
	 background-repeat: round;
	     height: 500px;
}

.leafContent{
padding-top: 8%;
padding-left: 6%;
text-align: left;
}

.leafContent>h1{
	font-size: 3em;
    color: #0F683C;
 
    /* border: 1px solid; */
    /* border-block-start-width: 50px; */
    position: relative;
    margin-bottom: 30px;
    }

.leafContent>h1:after {
    position: absolute;
    content: '';
    display: block;
    border-bottom: 5px solid #0F683C;
    bottom: -10px;
    height: 5px;
    width: 79px;
}

.leafImage{
	overflow: hidden;
	margin-left: 50px;
}


.imgExplore{

    width: auto;
    height: 550px;
    top: -6%;
    position: absolute
   
    
    /* overflow: hidden; */
	
}

#exploreLeaf{
	outline: 2px solid white;
    outline-offset: -15px;
}

#exploreLeaf::after{

}


.leafCenter{
	color: #0F683C;
    position: absolute;
    top: 50%;
    font-size: 42px;    
}

.fa-play{
padding: 18px 20px 20px 25px;
    border-radius: 10px;
    background-color: white;
    border-radius: 50%
}




.happyClient{
	text-align: center;
}


.happyClient .item h4 {
	position: relative;
	color: #8f8f8f;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 30px;
	font-weight: 300;
	padding: 0 100px;
	margin-bottom: 15px;
}

.happyClient .item span {
	color: #0F683C;
	font-family: 'Conv_Damion-Regular';
	text-transform: capitalize;
	font-size: 24px;
	display: block;
	margin-bottom: 20px;
}
.happyClient .owl-prev {
	position: absolute;
	top: 20%;
	left: 0px;
}
.happyClient .owl-next {
	position: absolute;
	top: 20%;
	right: 0px;
}
.happyClient .owl-next .fa, .happyClient .owl-prev .fa {
	font-size: 24px;
	color: #909090;

} 

.owl-theme .owl-nav [class*=owl-]{
	background: #FFF;
}

.owl-theme .owl-nav [class*=owl-]:hover{
	background: #e6e6e6;
}



.recentLeft{
	padding-left: 10%;
	padding-right: 45px;
	
}

.recentRight{
	padding-right: 10%;
	padding-left: 45px;
	
}


#recentNews{
	background: #F4FFF9;
	padding-top: 60px;
	padding-bottom: 120px;
}

.recenNew{
	padding-top: 30px;
}


h3{
	font-size: 1.3em;
}

.greenBold{
	color: #0F683C;
	font-weight: 600;
	
}


.headingAlignment{
    padding-bottom: 30px;
}

.RecentNewsContent{
	padding-bottom: 20px;
}

.RecentNewsContent>h5{
	padding-top:12px;
}


.fill{
	width: 100%;
}

.card2{
    padding: 30px;
    border: 2px solid green;
    }

.upComingEventsContent{
	padding-bottom: 10px;
}

.upComingEventsContent h4{
	font-size: 1.1em;
}


.upComingEvent{
	padding-bottom: 15px;
}

.upComingEventImg{
	padding: 0px;
}

.upComingEventImg>p{
	font-size: 1.4em;
	height: auto;
	background-color: #0F683C;
	font-weight: 100;
	text-align: center;
	color: white;
	padding: 12px;
}


header{
	
}

section{
	
}


.footerClass{
	padding-top: 50px;
	  background: linear-gradient( rgba(244, 255, 249, 0.9), rgba(244, 255, 249, 0.9) ), url(../img/footerBg.png);
	

}

.belowLogo{
	padding-right: 20px;
	padding-top: 30px;
}

.footerLocation{
	padding-top: 80px;
}

.footerLocation h4{
	padding-bottom: 10px;
}

.lowerFooter{
	text-align: center;
	border-top: 1px solid white;
	padding: 20px 0px 20px 0px;
}


footer ul>li{
	list-style: none;
	padding-bottom: 20px;
}

footer span{
	padding:10px 0px 10px 20px;
	
}

footer ul{
	padding: 0px;
}


footer h4{
	font-weight: 600;
}





@media (min-width: 320px) {  
	 .headerTop {
	    flex-direction: column-reverse;
	}


	 .headerBar{
	 	display: block;
	 	text-align: left;
	 }

	 #logo{
		display: block;
		margin: 0 auto;
	}

	.addressTop{
		display:none;
	}

	.searchBox{
		text-align: center;
		padding: 20px;
		margin: 0px;
		display: block;
	}


	 #bannerImg{
	 	display: block;
	 	height: 500px;
	 	width: 100%;
	 	object-fit: cover;
	 }

	 .bannerContent p {
    font-size: 1.2em;
	}

	.bannerContent h1 {
    font-size: 2.8em;
    }

     .bannerButton {
    font-size: 1.1em;
    padding: 8px 30px;
    }



	 .bannerAlignment{
	 	display: block;
	 	

	 	
	 }
	 .welcome_text{
	 	
    padding-left: 0px;
	 }



	.text-right {
	padding-left: 0px;
	}

	.text-left {
	padding-right: 0px;
	}




	 .donationOuter{
	position: relative;
    width: 100%;
    height: auto;
    margin: 1px;
    left: 0%;
    background: white;	
      background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url(../img/background3_1.png); *


	}

	.donateButton {
    font-size: 1em;
	}

	.inputShape{
		width: 100%;
	}

	.donateButton{
	    width: 100%;
	    
	}

	#makeDonationImg{
		display: none;
	}

	.happyClient .item h4 {
	padding: 0px 40px;
	}
	.welcomeContent {
    padding-top: 0px;
	}

	.marginHeading {
    margin-bottom: 20px;
	}
	.headingImage {
    font-size: 1.8em;
	}

	.leafWrapper{
		height: auto;
	}
	.leafImage{
		margin-left: 0px;
	}

	.imgExplore {
    width: 100%;
    height: auto;
    /* top: -6%; */
    position: relative;
    margin: 0 auto;
	}

	.leafContent{
		padding: 20px;
	}


		#leaf4 {
    top: 150%;
	}


	#leaf2 {
    top: 230%;
	}










}


@media (min-width: 425px) {  
 .headerBar{
 	display: none;
 	}
}

@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 
	.headerTop {
	    flex-direction: column;
	    flex-flow: inherit
	}

	
	 #bannerImg{
	 	display: block;
	 	height: auto;
	 	width: 100%;
	 	object-fit: cover;
	 }

	 .bannerContent p {
    font-size: 1.4em;
	}

	.bannerContent h1 {
    font-size: 3.5em;
    }

    .bannerButton {
    font-size: 1.2em;
    padding: 15px 45px;
    }





	 .bannerAlignment {
    display: block;
		}

	  .headerBar{
	 	display: inline;
	 	text-align: left;
	 }

	   .headerBar{
	 	display: inline;
	 	text-align: right;
	 }
	.addressTop{
		display:none;
	}

	.searchBox{
	position: relative;
	padding-top: 75px;
	text-align: right;
	}

	#logo{
		display: block;
		margin: 0;
	}

	.text-right {
	padding-left: 2%;
	}

	.text-left {
	padding-right: 2%;
	}


.donationOuter{
	position: relative;
    width: auto%;
    height: auto;
    margin: 25px;
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url(../img/background3_1.png); *
	}

	.inputShape{
		width: 75%;
	}



	.donateButton{
	    width: 75%;
	    
	}

	..happyClient .item h4 {
	padding: 0px 100px;
	}
	.welcomeContent {
    padding-top: 100px;
	}
	.marginHeading {
    margin-bottom: 50px;
	}


	.headingImage {
    font-size: 3em;
	}
	

	.leafWrapper{
		height: 500px;
	}

	.imgExplore{

    width: auto;
    height: 550px;
    top: -6%;
    position: absolute
   
    
    /* overflow: hidden; */
	
	}

	.leafImage{
		margin-left: 20px;
	}

	.leafContent {
    padding-top: 5%;
    padding-left: 6%;
    text-align: left;
	}

	#leaf4 {
    top: 50%;
	}


	#leaf2 {
    top: 30%;
	}







	









}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.headerBar{
 	display: block; 
 	
 	}

 	.addressTop{
		display:block;
	}
 	.text-right {
	padding-left: 25%;
	}

	.text-left {
	padding-right: 25%;
	}

 
.donationOuter{
	position: absolute;
    width: 550px;
    height: auto;
  
    padding: 25px;
    background: white;
     top: 45%;
     left: 5%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0% -50%);

	
}

.inputShape{
	width: 75%;
}



.donateButton{
    width: 75%;
    
}

#makeDonationImg{
	display: block;
}


 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

	.donationOuter{
		width: 550px;
	}


	.leafImage{
		margin-left: 100px;
	}
    
}

@media (min-width: 1500px) {  

.leafImage {
    margin-left: 150px;
}
 
 }


/*      background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../img/BackgroundSection1.png); */